<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        p {
            word-break: break-word;
        }
    </style>
</head>

<body>
    <!--<h1>Hello {{ fn }}!</h1>-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">NodeJS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/post">Send Post</a></li>
                <li><a href="/userlist">Show users</a></li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <div class="jumbotron">
            <h1 class="text-center">Hello World!</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for post in content %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{post.title}}
                    </div>
                    <div class="panel-body">
                        <p>
                            {{post.content}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
</body>

</html>