<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <!--<h1>Hello {{ fn }}!</h1>-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">NodeJS</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/register">Register</a></li>
                <li><a href="/post">Send Post</a></li>
                <li><a href="/userlist">Show users</a></li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <div class="jumbotron">
            <h1 class="text-center">Register</h1>
        </div>
        <div class="row">
            <form method="get" action="">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" required>
                    </div>
                    {% if status %}
                    <h4 class="text-success">
                        {{status}}
                    </h4>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    <div class="form-group">

                        <input type="submit" name="btnReg" value="Register" class="btn btn-large btn-block btn-success">
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">

                        <a href="/userlist" class="btn btn-large btn-block btn-info">Show users</a>

                    </div>

                </div>
            </form>
        </div>
    </div>

    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
</body>

</html>